.navfixed {
  overflow: hidden;
  position: fixed !important;
  z-index: 1;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.right-nav {
  float: right;
  margin-left: auto;
}
